// 局部loading父组件
.y--loading-parent--relative {
    position: relative !important;
}
.y-loading-parent--hidden {
    overflow: hidden !important;
}

.y-loading-mask {
    position: absolute;
    z-index: 2000;
    background-color: rgba(255, 255, 255, .9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
}
.is-fullscreen {
    position: fixed;
}

.y-loading-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.y-loading-text {
    color: #333;
    font-size: 14px;
    margin: 3px 0;
}
.circular {
    height: 32px;
    width: 32px;
    animation: loading-rotate 3s linear infinite;
}
.path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #999;
    stroke-linecap: round;
}

.y-loading-fade-enter,
.y-loading-fade-leave-active {
  opacity: 0;
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}