.y-tree-node__content {
    height: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.y-tree-node__content .y-checkbox {
    margin-right: 8px;
}
.y-tree-node__content:hover {
    background-color: #f5f7fa;
}